<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Edit Tag</h3></div>
  <div class="panel-body">
    <form method="post" action="<%= url['location'].gsub(':id', location['id'].to_s) %>" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-1 control-label">Location name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" rows="1"
              aria-label="Name" name="name" id="name" value="<%= location['name'] %>" />
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success btn-block" name="submit">Save</button>
          </div>
        </div>
    </form>
  </div>
</div>

<%# Expense table %>
<%= yield %>

